/* .searchResultContainer--layout__shelf--mobile {
    padding: 0;
}


.searchResultContainer--layout__shelf--mobile :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-top: 0;
} */