/* Example desktop:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */
.flexCol--section5__desktop--col {
    padding: 1rem 1rem 0;
    background-color: #ffffff;
}

.flexCol--section5__desktop--col:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.flexRow--home__section-financing {
    background-color: #fff;
}

.flexRowContent--home__section-1 {
    max-width: 1920px !important;
    margin: 0 auto;
}

.flexCol--home__section-1 {
    width: 80% !important;
}

.flexCol--home__section--2 {
    width: 78% !important;
}