.paragraph--text__image--category {
    transform: translateY(-20px);
}

.wrapper--section__2--title:first-child {
     color: #585858;
 }

 .headingLevel2--section__2--title {
     margin-bottom: 0;
 }