.flexRowContent--section5__row2--desktop {
    justify-content: space-between;
    transform: translateX (5px);
}

.flexCol--section5__desktop--col {
    max-width: 134.53px;
    max-height: 125px;
    background-color: #ffffff;
}

.flexCol--section6__desktop--col:hover,
.flexCol--section5__desktop--col:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.flexCol--section6__desktop--col {
    max-width: 185px;
    max-height: 152px;
    background-color: #ffffff;
}

.flexRow--home__section-financing {
    background-color: #fff;
}

.flexCol--home__section--2,
.flexCol--home__section-1 {
    max-width: 1180px !important;
}

.flexRowContent--home__section-8--desktop,
.flexRow--home__section--3 {
    max-width: 1180px !important;
    margin: 0 auto;
}

.flexRowContent--section6__row2--desktop {
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}

.flexRowContent--home__section-8--desktop :global(.vtex-flex-layout-0-x-flexColChild) {
    display: flex;
    justify-content: center;
}

.flexRow--home__section-8--desktop {
    margin-top: 1rem;
}

.flexCol--home__product--top {
    height: 260px;
    justify-content: space-between;
}

.flexColChild--home__product--top {
    height: fit-content !important;
}

.flexColChild--home__product--top:last-child {
    padding-left: 5px;
}

.flexRow--home__product--middle {
    width: 100%;
}

.flexRowContent--home__product--middle {
    height: 125px;
}

.flexCol--home__product--middle {
    justify-content: space-between;
}

.flexColChild--home__product--middle {
    height: fit-content !important;
}

.flexColChild--product__middle--first {
    text-align: left;
}