.menuContainer--open__drawer--filter :global(.vtex-disclosure-layout-1-x-trigger) {
    background-color: transparent;
    border: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e4e6;
}

.menuContainer--open__drawer--filter :global(.vtex-disclosure-layout-1-x-trigger--visible) :global(.vtex-store-components-3-x-imageElement--down__arrow) {
    transform: rotate(180deg);
}

.menuContainer--open__drawer--filter :global(.vtex-disclosure-layout-1-x-content--visible) {
    padding: 10px;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filters--layout) {
    margin: 0;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-caretIcon) {
    color: #000;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filterTitle) {
    margin-left: 20px;
    margin-right: 5px;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filter__container--title),
.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filter__container--selectedFilters),
.menuContainer--open__drawer--filter :global(.vtex-button__label),
.menuContainer--open__drawer--filter :global(.vtex-input__prefix),
.menuContainer--open__drawer--filter :global(.vtex-slider-container) {
    display: none;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-priceRangeInputWrapper) {
    justify-content: flex-start;
    margin-left: 20px;
    gap: 20px;
}

.menuContainer--open__drawer--filter :global(.vtex-button) {
    background-color: #e3e4e6;
    border: transparent;
    position: relative;
    right: 10px;
    border-radius: 0;
}

.menuContainer--open__drawer--filter :global(.vtex-button)::before {
    content: ">";
    color: #000;
    font-size: 20px;
    padding: 0 5px;
}

.menuContainer--open__drawer--filter :global(.vtex-input-prefix__group) {
    border: 1px solid transparent;
    max-width: 100px;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-priceRangeInput) {
    position: relative;
}


.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filter__container--priceRange) :global(.vtex-search-result-3-x-filterTemplateOverflow) {
    background-color: #f5f5f5;
    padding-top: 15px;
}

.menuContainer--open__drawer--filter :global(.vtex-search-result-3-x-filterTemplateOverflow) {
    background-color: #f5f5f5;
}

.menuContainer--open__drawer--filter :global(.vtex-input-prefix__group)::before {
    content: "$";
    position: absolute;
    left: -12px;
    top: 6px;
    font-size: 14px;
}
