.paragraph--dummy__direction--message {
    font-size: 12px;
    width: 100%;
    color: #585858;
}

.link--dummy__direction--message {
    text-decoration: none;
    color: #0072ce;
    font-weight: bold;
}

.paragraph--quantity__message {
    font-size: 14px;
    color: #000;
}

.container--quantity__message--last {
    transform: translateX(5px);
}

.paragraph--open__drawer--filter {
    font-size: 14px;
    color: #2E72C8;
}

.paragraph--dummy__buy--checkbox {
    font-size: 12px;
    color: #585858;
}

.paragraph--isActive--list-grid {
    color: #ADADAD;
    margin-left: 5px;
    font-size: 16px;
}

.paragraph--dummy__buy--checkbox--list {
    font-size: 14px;
    color: #585858;
}

.paragraph--disclosure__text--trigger {
    font-size: 16px;
    color: #000;
}