.flexRow--back__link--container {
    padding-left: 19px;
    margin-top: 10px;
}

.flexRow--modal__trigger--container {
    margin-top: 20px;
    background-color: #FFF;
    padding: 10px;
}

.flexRowContent--modal__trigger--container {
    align-items: center;
    border: 1px solid rgb(191, 191, 191);
    padding: .3rem;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.flexRowContent--modal__trigger--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) {
    width: 100% !important;
    padding-left: 10px;
}

.flexRowContent--message__product--container {
    justify-content: flex-start;
    flex-wrap: wrap;
}


.flexRow--message__product--container :global(.vtex-search-result-3-x-totalProducts--layout) {
    padding: 0;
}

.flexRow--message__product--container :global(.vtex-search-result-3-x-totalProducts--layout):first-child:first-child {
    font-size: 14px;
    text-transform: lowercase;
}

.flexRow--message__product--container :global(.vtex-search-result-3-x-totalProductsMessage) {
    color: #000;
}

.flexRow--message__product--container :global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #000;
    font-size: 14px;
    margin: 0;
}

.flexRow--message__product--container :global(.vtex-search-result-3-x-galleryTitle--layout)::before {
    content: '"';
}

.flexRow--message__product--container :global(.vtex-search-result-3-x-galleryTitle--layout)::after {
    content: '"';
}

.flexRow--message__product--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    transform: translateX(5px);
}

.flexRow--message__product--container {
    padding: 20px;
}

.flexRowContent--filter__trigger--container :global(.vtex-store-drawer-0-x-openIconContainer) {
    width: 100%;
    background-color: #FFF;
    position: relative;
    margin-top: 10px;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 20%);
}

.flexRowContent--filter__trigger--container :global(.vtex-store-drawer-0-x-openIconContainer)::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: #fafafa;
    top: -10px;
    left: 0;
}

.flexRow--gallery__result--container {
    margin-top: 20px;
    margin-bottom: 180px;
}

.flexRowContent--gallery__result--container :global(.vtex-search-result-3-x-gallery--grid) {
    justify-content: space-between;
    row-gap: 5px;
}

.flexRowContent--gallery__result--container :global(.vtex-search-result-3-x-galleryItem--grid) {
    max-width: 49.5% !important;
    background-color: #FFF;
    height: 387px;
}

.flexColChild--grid__summary--button:last-child {
    align-self: flex-end;
}

.flexColChild--result__layout--containerChildren :global(.vtex-store-components-3-x-backToTopButtonContainer) {
    width: 100% !important;
    left: 0 !important;
}

.flexColChild--result__layout--containerChildren :global(.vtex-store-components-3-x-backToTopButtonContainer) :global(.vtex-button) {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    background-color: #F4f4f4;
    border: 1px solid #ededed;
    height: 60px;
    color: #000;
    position: relative;
}

.flexColChild--result__layout--containerChildren :global(.vtex-store-components-3-x-backToTopButtonContainer) :global(.vtex-button) :global(.vtex-button__label) {
    display: none;
}

.flexColChild--result__layout--containerChildren :global(.vtex-store-components-3-x-backToTopButtonContainer) :global(.vtex-button)::after {
    content: "Subir al inicio de la página";
    text-transform: none;
    color: #4a4a4a;
    font-size: 18px;
}

.flexColChild--result__layout--containerChildren :global(.vtex-store-components-3-x-backToTopButtonContainer) :global(.vtex-button)::before {
    content: "";
    background-image: url(assets/img/icons8-collapse-arrow-50.png);
    position: absolute;
    height: 25px;
    width: 35px;
    top: 10px;
    transform: translateX(-40px);
}

.flexRowContent--gallery__result--container :global(.vtex-search-result-3-x-galleryItem):global(.vtex-search-result-3-x-galleryItem--normal):global(.vtex-search-result-3-x-galleryItem--list) {
    background-color: #FFF;
    height: 169px;
}

.flexRowContent--gallery__result--container :global(.vtex-search-result-3-x-gallery--list) {
    row-gap: 5px;
    margin-top: 0;
}

.flexRowContent--gallery__result--container :global(.vtex-product-summary-2-x-containerNormal--list__summary) {
    margin: 0;
    max-width: none !important;
    width: 100%;
}

.flexColChild--name__brand--rating {
    text-align: left;
}

.flexColChild--name__brand--rating :global(.vtex-product-summary-2-x-productBrandName) {
    font-size: 12px;
    color: #585858;
}

.flexRowContent--price__button--container {
    justify-content: flex-end;
}

.flexRowContent--price__button--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even) {
    align-self: center;
}

.flexRowContent--price__button--container :global(.vtex-button) {
    background-color: transparent;
    border: 1px solid #DD0021;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.flexRowContent--price__button--container :global(.vtex-button) :global(.vtex-button__label) {
    display: none;
}

.flexColChild--list__summary--right:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexRow--back__link--drawer {
    background-color: #f7f7f7;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}