.wrapper--section__2--title--phone:first-child {
    color: #585858;
}

.headingLevel3--section__2--title--phone {
    font-size: 24px;
    margin: 1rem 0;
}

.paragraph--text__info--top--phone {
    font-size: 14px;
    transform: translateY(-10px);
    margin-bottom: 10px;
}

.paragraph--section8__text--content.paragraph--section8__text--content--phone {
    font-size: 14px;
    line-height: 20px;
}

.wrapper--section8__text--content--phone .paragraph--section8__text--bottom {
    font-size: 14px;
}

.headingLevel1--section8__text--title.headingLevel1--section8__text--title--phone {
    font-size: 17px;
}