.imageElement--modal__opinion--trigger {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.imageElement--images--section2 {
    border-radius: .2rem;
}

.imageElement--images--section2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}