.paragraph--text__image--category--tablet {
    font-size: 14px;
}

.headingLevel3--section__5--title--tablet {
    color: #585858;
    font-size: 24px;
    transform: translateX(10px);
}


.headingLevel3--section__2--title--tablet {
    margin-bottom: 0;
}

.headingLevel3--section__3--title {
    color: #585858;
    font-size: 24px;
}