.flexCol--section5__tablet--col {
    max-width: 354px;
    height: 125px;
    background-color: #ffffff !important;
}

.flexRow--tablet__home--section1 :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

