.element--home__plp--mobile {
    height: 410px;
    max-width: 190px;
    justify-content: space-between;
    background-color: #fff;
    align-items: flex-start;
    padding: 0 .3rem 0 .3rem;
    border-radius: 0;
    margin: 0 auto;
}

.containerNormal--home__plp--mobile {
    border-radius: 0.1875rem;
}

.element--home__plp--mobile :global(.vtex-product-summary-2-x-imageNormal) {
    padding-top: .5rem;
    height: 172px;
    width: 100%;
}