.productImageContainer--cart__image {
    width: fit-content !important;
    height: fit-content !important;
}

.productImage--cart__image {
    width: 75px;
    height: 60px;
}

.productName--minicart__name,
.productBrandName--minicart__brand,
.productIdentifier--minicart__reference {
    font-size: 12px;
    color: #333333;
    text-transform: none;
    padding-left: 5px;
    font-weight: bold;
}

.quantitySelectorButton {
    padding: 0;
    height: fit-content;
    color: #333333;
    background-color: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 0;
}

.quantitySelectorContainer--minicart__quantity::before {
    content: "Cantidad:";
    font-size: 12px;
    position: absolute;
    top: -15px;
}

.quantitySelectorContainer--minicart__quantity {
    position: relative;
}

.quantitySelectorDecrease--minicart__quantity {
    position: absolute;
    right: 0;
    top: 20px;
}

.unitPriceContainer--minicart__unit--price,
.price--minicart__price {
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    text-align: left;
}

.price--minicart__price {
    text-align: right;
}

.currencyContainer--minicart__price {
    display: none;
}

.unitPriceMeasurementUnit--minicart__unit--price {
    display: none;
}