.minicartTitle--minicart__static {
    display: none;
}

.minicartContainer--static__minicart {
    width: 100%;
}

.minicartContentContainer--minicart__static :global(.vtex-product-list-0-x-inputContainer) {
    padding: 0;
    width: 45px;
    height: 39px;
}

.minicartContentContainer--minicart__static :global(.vtex-minicart-2-x-minicartSummary) {
    padding: 30px;
    background: #f5f5f5;
}

.minicartContentContainer--minicart__static :global(.vtex-checkout-summary-0-x-summaryTitle) {
    line-height: 1.1;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

.minicartCheckoutButton--checkout__button {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.minicartCheckoutButton--checkout__button :global(.vtex-button):hover {
    background: #dd0021 !important;
    color: #fff !important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 0px 5px 0 rgb(5 5 5 / 50%), 0 3px 7px 0 rgb(100 100 100 / 70%) !important;
    -webkit-transition: box-shadow 0.6s !important;
    transition: box-shadow 0.6s !important;
    border: solid 1px #dd0000;
}
.minicartCheckoutButton--checkout__button :global(.vtex-button) {
    background-color: #DD0021;
    border: transparent;
    border-radius: 0;
    font-size: 13px;
}