.styledLinkContent--first__item--footer {
    font-weight: bolder;
}

.menuItem--footer__menu--countries {
    transform: translateY(27px);
    border: 2px solid transparent;
    border-radius: 5px;
}

.menuContainerNav--footer__menu--countries {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.menuItem--footer__menu--countries:hover {
    border: 2px solid black;
    border-radius: 5px;
}

.styledLinkContainer--footer__menu--countries {
    padding: 0;
    margin: 0;
}
.menuItem--footer__menu--countries--isOpen :global(.vtex-menu-2-x-submenuWrapper--isOpen){
    background-color: #fff;
}
