/* .slide--design__project--slider--desktop {
    width: auto !important;
    max-width: 400px;
    max-height: 190px;
    justify-content: center !important;
}
*/
.sliderTrack--design__project--slider--desktop {
    /* gap: 20px; */
    height: 100%;
}