.flexCol--design__project {
    background-color: #FAFAFA;
}

.flexRow--design__project--info-cards {
    max-width: 1170px;
    margin-bottom: 60px;
    margin: 0 auto;
    width: 100%;
}

.flexCol--projects__step--card {
    padding: 25px;
    padding-right: 0;
}

.flexCol--design__project--service {
    padding: 12px;
}

.flexCol--design__project--info-cards {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px -3px #E6E6E6;
    padding: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.flexRowContent--design__project--info-cards {
    padding: 0 20px;
    column-gap: 30px;
    margin-bottom: 85px;
}

.flexRowContent--design__project--info-cards--tablet {
    margin-bottom: 100px;
}

.flexRowContent--design__project--info-cards--tablet {
    padding: 0 20px;
    display: block;
}

.flexColChild--projects__step--card {
    height: fit-content !important;
    position: relative;
}

.flexRow--design__project--steps {
    max-width: 1300px;
    margin: 0 auto;
}

.flexColChild--step__card--line:first-child::after {
    content: "";
    position: absolute;
    display: block;
    top: 35px;
    left: 70px;
    height: 1px;
    width: calc(100% - 95px);
    background-color: #000000;
}

.flexColChild--step__card--line:first-child::before {
    content: "";
    position: absolute;
    display: block;
    top: 33px;
    right: 25px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
}