.flexRow--result__layout--desktop {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 29px;
}

.flexRow--result__layout--desktop :global(.vtex-breadcrumb-1-x-container) {
    font-size: 12px;
    color: #1980CC;
}

.flexRow--result__layout--desktop :global(.vtex-breadcrumb-1-x-link) {
    color: #1980CC;
}


.flexRow--images__links--container {
    background-color: #FFF;
}

.flexRowContent--images__links--container {
    justify-content: space-around;
}

.flexCol--images__links--col {
    width: 120px !important;
    padding: 1.4rem 0;
}

.flexRowContent--search__title--container {
    align-items: center;
    justify-content: flex-start;
    column-gap: 15px;
}

.flexRowContent--search__title--container :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-size: 28px;
}

.flexRowContent--search__title--container :global(.vtex-search-result-3-x-totalProducts--layout) {
    padding: 0;
    text-transform: lowercase;
    font-size: 18px;
    color: #585858;
}

.flexRowContent--search__title--container :global(.vtex-search-result-3-x-totalProductsMessage) {
    color: #585858;
}

.flexRowContent--search__title--container :global(.vtex-search-result-3-x-totalProducts--layout)::before {
    content: "(";
}

.flexRowContent--search__title--container :global(.vtex-search-result-3-x-totalProducts--layout)::after {
    content: ")";
}

.flexRowContent--order__switcher--container {
    background-color: #fff;
    justify-content: flex-start;
}

.flexRowContent--order__switcher--container :global(.vtex-search-result-3-x-orderByButton) {
    background-color: transparent;
}

.flexRowContent--products__container--desktop {
    margin-top: 25px;
    margin-bottom: 125px;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-gallery--grid) {
    padding: 0;
    gap: 10px;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-galleryItem--grid) {
    background-color: #FFF;
    height: 554px;
}

.flexRowContent--products__container--desktop :global(.vtex-product-summary-2-x-element) {
    justify-content: space-between;
}

.flexRowContent--products__container--desktop :global(.vtex-button):hover {
    background-color: #DD0021;
    color: #FFF;
}

.flexRowContent--products__container--desktop :global(.vtex-button):active {
    background-color: #ac0111;
}

.flexRowContent--products__container--desktop :global(.vtex-button) {
    visibility: hidden;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-galleryItem--grid):hover :global(.vtex-button) {
    visibility: visible;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-gallery--list) {
    padding: 0;
    gap: 5px;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-galleryItem):global(.vtex-search-result-3-x-galleryItem--normal):global(.vtex-search-result-3-x-galleryItem--list) {
    background-color: #FFF;
}

.flexRowContent--products__container--desktop :global(.vtex-product-summary-2-x-container):global(.vtex-product-summary-2-x-containerNormal) {
    max-width: none !important;
}

.flexRowContent--products__container--desktop :global(.vtex-product-summary-2-x-imageNormal):global(.vtex-product-summary-2-x-image) {
    width: 200px !important;
    height: 200px !important;
    max-height: none !important;
    max-width: none !important;
}

.flexRowContent--products__container--desktop :global(.vtex-search-result-3-x-galleryItem--list):hover :global(.vtex-button) {
    visibility: visible;
}
