/* .containerNormal--search--grid {
    min-height: 550px;
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 4rem;
    border-radius: 0px;
}

.element--search--grid {
    justify-content: space-between;
}


.containerNormal--search--grid:hover :global(.vtex-button) {
    visibility: visible;
}

.containerNormal--search__list--gallery {
    max-width: none !important;
    background-color: #FFF;
    border-radius: 0px;
}

.clearLink--search__list--gallery :global(.vtex-button) {
    visibility: hidden;
    background-color: transparent;
    border: 1px solid #DD0021;
    width: 90%;
    border-radius: 0;
    color: #DD0021;
    font-size: 14px;
    text-transform: none;
    font-family: "Lato";
}

.clearLink--search__list--gallery :global(.vtex-button):hover {
    background-color: #DD0021;
    border: 1px solid #DD0021;
    color: #FFF;
}

.clearLink--search__list--gallery :global(.vtex-button):active {
    background-color: #ac0111;
    border: 1px solid #ac0111;
    color: #FFF;

}

.containerNormal--search__list--gallery:hover :global(.vtex-button) {
    visibility: visible;
}

.productNameContainer,
.productBrandContainer {
    text-align: left;
    font-size: 14px;
    color: #585858;
}

.element--search--grid :global(.vtex-flex-layout-0-x-flexRow) {
    font-size: 17px;
    text-align: left;
    padding-left: 1rem;
}

.imageStackContainer {
    padding-right: 1rem;
    width: 100%;
}

:global(.vtex-product-summary-2-x-imageNormal) {
    width: 100%;
}
.nameContainer {
    padding-top: .2rem;
    justify-content: flex-start;
} */