/* .container--layout--search__layout {
    max-width: 1180px;
}

.orderByButton--order__by {
    border: 1px solid #ededed;
    font-size: 16px;
    height: 36px;
    width: 220px;
    background-color: #fff;
    margin-left: 1rem;
}

.galleryLayoutSwitcher--gallery-layout {
    margin-left: 2rem;
}

.filter__container--filter__navigator--desktop {
    border: 0;
}

.filterSelected--filter__navigator--desktop,
.filter__container--filter__navigator--desktop--title {
    display: none;
}

.filterContent--filter__navigator--desktop {
    background-color: #fff;
    padding: .5rem;
}

.filterAvailable--filter__navigator--desktop {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 10px;
}

.caretIcon--filter__navigator--desktop {
    color: #000;
}

.filterIcon--filter__navigator--desktop {
    padding-left: 0;
}

.filtersWrapper--filter__navigator--desktop {
    transform: translateY(-12px);
}

.filtersWrapper--filter__navigator--desktop--department {
    transform: translateY(-25px);
}

.gallery--grid {
    padding: 0;
    margin-bottom: 1rem;
    gap: 10px;
}

.galleryItem--grid {
    padding-right: 0;
    padding-left: .2rem;
}

.filtersWrapper--filter__navigator--desktop :global(.vtex-checkbox__label) {
    margin-bottom: .7rem;
    font-size: 12px;
}

.productCount--filter__navigator--desktop {
    background-color: #ededed;
    border-radius: 50%;
    padding: .2rem;
}

.filterItem.filterItem--filter__navigator--desktop.selectedFilterItem.selectedFilterItem--filter__navigator--desktop.filterItem.filterItem--filter__navigator--desktop--selected {
    background-color: #fff;
    padding: .5rem;
} */