/* .flexRowContent--row__breadcrumb :global(.vtex-breadcrumb-1-x-link) {
    color: #1980cc;
    font-size: 12px;
}

.flexRowContent--title__quantity :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-size: 28px;
}

.flexRowContent--title__quantity {
    justify-content: flex-start;
    align-items: center;
}

.flexRowContent--title__quantity :global(.vtex-search-result-3-x-totalProducts--layout) {
    font-size: 18px;
    color: #585858;
    padding-left: 1rem;
    text-transform: lowercase;
    font-weight: lighter;
}

.flexRowContent--title__quantity :global(.vtex-search-result-3-x-totalProducts--layout)::after {
    content: ")";
}

.flexRowContent--title__quantity :global(.vtex-search-result-3-x-totalProducts--layout)::before {
    content: "(";
}

.flexRowContent--switcher__order {
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 60px;
    margin-left: 13px;
    margin-bottom: .8rem;
    width: 96.5%;
}

.flexColChild--button__column :global(.vtex-button) {
    visibility: hidden;
    background-color: transparent;
    border: 1px solid #DD0021;
    width: 90%;
    border-radius: 0;
    color: #DD0021;
    font-size: 14px;
    text-transform: none;
    font-family: "Lato";
}

.flexColChild--button__column :global(.vtex-button):hover {
    background-color: #DD0021;
    border: 1px solid #DD0021;
    color: #FFF;
}

.flexColChild--button__column :global(.vtex-button):active {
    background-color: #ac0111;
    border: 1px solid #ac0111;
    color: #FFF;
}

.flexRowContent--product__desktop :global(.vtex-search-result-3-x-gallery--list) {
    padding: 0;
    padding-left: 2px;
    margin-bottom: 25px;
}

.flexRowContent--product__desktop :global(.vtex-search-result-3-x-galleryItem--list) {
    padding-bottom: 0;
    padding-top: 13.5px;
    max-width: 99.3% !important;
}

.flexColChild--content__info {
    text-align: left;
}

.flexRowContent--summary__list--title :global(.vtex-product-summary-2-x-brandName) {
    font-size: 20px;
}

.flexRowContent--summary__list--title :global(.vtex-product-summary-2-x-nameContainer) {
    justify-content: flex-start;
    padding: 0;
}

.flexColChild--product-button--col {
    text-align: end;
    padding-right: 2rem;
}

.flexRowContent--product__list--content {
    height: 150px !important;
}

.flexColChild--products__col--container {
    height: auto !important;
}

.flexCol--products__col--container {
    transform: translateY(-15px);
}

.flexRow--image__filter--conainer {
    background-color: #FFF;
    width: 98.3%;
    max-height: 190px;
    padding: 20px 0;
}

.flexColChild--product__tablet {
    height: fit-content !important;
}

.flexCol--product__tablet {
    justify-content: space-between;
    height: 510px;
} */